body{
	min-width:450px;
}



#header{
	width:90%;
	margin: 15px auto;
}

#header h1{
	color:black;
}

#header h1, #header h1 span{
	display:inline;
	vertical-align: bottom;
}

#header .logo{
	padding-bottom: 3px;
	margin-right: 10px;
}

#header h1 span{
	font-size:45px;
	color: #f58a00;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;  
}

.tabbable{	
	width:95%;
	margin: 0 auto;
}


.tabs-left>.nav-tabs {
	margin-right:0;
}

.nav a{
	color:#20a900;
	font-size: 18px;
}

.nav-tabs>li>a{
	background-color: rgba (255, 25, 20, 0.4);
}

.nav .active a{
	color:#f58a00;
}

.nav>li>a:active{	
	background-color: #bbb;

}

.tabs-left>.nav-tabs>li>a, .tabs-right>.nav-tabs>li>a {
	min-width:inherit;
}

.tab-content {	
	position: relative;
	left: -1px;
	border: 1px solid #ddd;
	min-height: 350px;
	padding: 18px 29px;	
	background-color:#fbfbfb;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;

-webkit-box-shadow: 8px 25px 110px -18px rgba(0,0,0,0.24);
-moz-box-shadow: 8px 25px 110px -18px rgba(0,0,0,0.24);
box-shadow: 8px 25px 110px -18px rgba(0,0,0,0.24)}

.nav-tabs .active{
	z-index: 999;
	position: relative;
}


#footer{

}