body{  
	background-image: url('images/bg_repeat.jpg');
	background-repeat: repeat-x;
	background-attachment: fixed;
	color: gray;
	font-family: Arial,Verdana,Helvetica,sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
color: #072D37;
}

.black{color:#000000;} .grey{color:#cccccc;}

.uppercase{text-transform: uppercase;}

p{
	font-size: 13px;
	font-weight: normal;
	line-height: 16px;	
}

#wrapper{
    width: 940px;
    margin: 0 auto;
}

#topNav{
    margin-top: 25px;
    background-color: #D2D952;
    padding: 20px;
    border-radius: 3px;	
    list-style: none;
    padding: 20px;
}

#topNav li{	
	display: inline;
	margin: 0 2px;
}
#topNav li a{
	color: #485B37;
	font-size: 11px;	
	font-weight: bold;
	text-align: center;
	-ms-transition: all 0.25s ease;	-moz-transition: all 0.25s ease;-o-transition: all 0.25s ease;-webkit-transition: all 0.25s ease;transition: all 0.25s ease;	
	padding: 0px 8px;
}


#topNav li a:hover{
	margin:0;
	text-decoration: underline;
	color: white;
	background-color: #AFB546;
	line-height: 18px;
	border-radius: 3px;
	padding: 10px 8px;
}


.loggedUser{
    margin: 0 0 21px 93px;
}

.GBillboard{  
    width: 900px; 
    padding: 29px 20px 14px 20px;
    height: 36px;  
    background: #488B9C;  
    background-image: -moz-linear-gradient(top, #ADD9E4, #488B9C);  background-image: -ms-linear-gradient(top, #ADD9E4, #488B9C);  background-image: -o-linear-gradient(top, #ADD9E4, #488B9C);  background-image: -webkit-linear-gradient(top, #ADD9E4, #488B9C);  background-image: linear-gradient(top, #ADD9E4, #488B9C);  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#add9e4', endColorstr='#488b9c', GradientType=0);  border: 0;  -ms-border-radius: 4px 4px 0 0;  -moz-border-radius: 4px 4px 0 0;  -o-border-radius: 4px 4px 0 0;  -webkit-border-radius: 4px 4px 0 0;  border-radius: 4px 4px 0 0;  -ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);  -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); color: white;  text-shadow: none;
}

.GBillboard *{
	display:inline;
	color:#ffffff;
}

#contentWrapper{
	border: 1px solid #EEE;
	margin: 0 0 35px;
	background-color: white;
	-ms-border-bottom-left-radius: 4px;-ms-border-bottom-right-radius: 4px;-moz-border-bottom-left-radius: 4px;-moz-border-bottom-right-radius: 4px;-o-border-bottom-left-radius: 4px;-o-border-bottom-right-radius: 4px;-webkit-border-bottom-left-radius: 4px;-webkit-border-bottom-right-radius: 4px;border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;
	-ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);-o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);text-shadow: 0 1px rgba(255, 255, 255, 0.6);
}

#content{
	padding: 0 20px 20px 20px;
}

#content p{
	margin-left: 20px;
	padding-right:20px;
}

#content ul, #content ol{
	margin: 0 0 18px 50px;
}

hr.grey{
	border-top: 1px solid #888888;
	border-bottom: 1px solid #ccc;
}

#footer{
	text-align: center
}