/*Bootstrap overrides */



textarea, textarea.form-control, input[type="text"], input[type="password"], input[type="email"], input[type="number"], [type="text"].form-control, [type="password"].form-control{
    text-align:left;    
    padding:0 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.nav{
    margin-left:50px;
}

    .nav-tabs > li {
        float:left; height: 54px;
    }

    .tabs-left > .nav-tabs > li > a {
        border-bottom: none;
        margin-right:0;
        margin-bottom: -1px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover, .tabs-left > .nav-tabs .active > a:focus {
        background-color:#eee;
    }

.tab-content {
    min-height: 390px;
    width: 1061px;
    margin: 0 auto;
}

.UserHash {
    margin:0px;
    padding-bottom:18px;
    font-size:29px;
}

.playAll {
    float:right;
}

.glyphicon-2x {
  font-size: 2em;
  vertical-align:bottom;
  margin-right:4px;
  margin-bottom:2px;
  margin-left:4px;
}

.input-large, input, textarea {
    background-color: #fff;
}

/*Gong Admin Overrides */

.GScoreRankingFlighting h2{
    color:white;
}

/*Gong Element Overrides */

.InspectorLink, .GLink-eGBXe, .teamLink  {
    top:0;
    position: absolute;
    z-index: 99999;
    width: 51px;
    height: 31px;
}

.teamLink{
    left: 139px;
}


/*Gong Widget Overrides */

.slick-cell a{margin: 0 15px;}

.GUserField .label, .GPostView .label{
    font-size: 16px;
    margin-right: 15px;
    background-color: transparent;
    text-shadow: none;
    color: #333;
    width: 157px;
    display: inline-block;
    text-align: left;
}

.GUserField{
    margin-bottom:13px;
}

.postCreator {
    display:inline-block;
}

.GPostView{
    background-color: transparent;
    margin-bottom:50px;
    clear:both;
}

.GPostView .fileTypes{
    margin-top: 15px;
    vertical-align:top;
    text-align: center;
}

.GPostView .fileTypes a{
    margin:0 1%;
}

.GPostView .controls{
    display:inline-block;
    vertical-align: text-bottom;
}

.GPostView .controls .btn {
    display:inline-block;
    margin:4px;
}

.GPostView .controls .icon-remove{
    padding-left: 0;
    padding-right: 0;
}

.PostCover{
    width: 150px;
    padding: 10px;
    /*background-color: #EEE;
    */margin-right: 2%;
    border: 1px solid #BBB;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    vertical-align:top;
    margin-bottom: 28px;
    height: auto;
}



.postDetails{
    display: inline-block;
    vertical-align: top;
    min-width: 270px;
    max-width: 400px;
    margin-right: 25px;
    margin-bottom: 18px;
}

.GPostView .titleEditor{
    font-size: 30px;
    font-weight: bold;
}


.GPostView .summaryEditor, .GPostView .contentEditor{
    border-bottom: none !important;
}

.GPostView .contentEditor{
    margin-bottom: 10px;
    
    display: block;
}

.GPostView .contentEditor .wysihtml5-sandbox{
    width:100% !important;
}

#-row-content{
    clear:both;
}

.imageFilesIcon, .audioFilesIcon, .dataFilesIcon{min-width: 66px;}

.imageFilesIcon span, .audioFilesIcon span, .dataFilesIcon span, .videoFilesIcon span{
    /*font-size: 20px;
    vertical-align: top;
    margin-left: 6px;*/
    font-size: 20px;
    float: right;
    text-align: center;
    font-size: 20px;
    margin-top: 6px;
    margin-left: 6px;
}

.GPostAudioFiles, .GPostVideoFiles{font-size: 14px;}

.GPostAudioFiles tr, .GPostVideoFiles tr{
    border-bottom:1px solid #ccc;
}

.GPostAudioFiles tr:first-child, .GPostAudioFiles tr:last-child, .GPostVideoFiles:first-child, .GPostVideoFiles:last-child{
    border-bottom:none;
}

.GPostAudioFiles td, .GPostVideoFiles td{
    padding:2px;
}


.PostFileGroup{
    margin-top: 23px;
    clear:both;
}


.searchForm{
    float:right;
    display:inline-block;
    margin-right: 30px;
}

.searchForm input {
    margin-bottom:0px;
}

.GPostSearch {
    display:inline;
}

.GPostSearch-controls {
    margin-bottom: 25px;
}
.search-query{
    width: 100%;
}

.files {/*background-color:white;*/ display:inline-block;}

.files ul{text-align:center}

.files li, .GInlineEditableGallery li{
    display: inline-block;
    list-style: none;
}

.files li img, .GInlineEditableGallery li img{
    /*width: auto;*/
    display: inline-block;
    padding: 6px;
    /*background-color: #EBEBEB;
    */margin: 5px;
    border: 1px solid #BBB;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.files li img{
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -webkit-border-top-right-radius: 0;
 }
 
.files li:last-child, .GInlineEditableGallery li:last-child{
    border:none;
}

.files .fileLabel{font-weight: bold}

.fileDetails .label{
    display:inline-block;
    margin-right: 26px;
    width: 81px;
}

.GPostImageFiles{
    margin:0;
    padding:0;
}

.GPostImageFiles .controls{
    width: 30px;
    /*background-color: #EEE;
    */vertical-align: top;
    display: inline-block;
    position: relative;
    top: 5px;
    left: -6px;
    padding-bottom: 3px;
    border: 1px solid #CCC;
    border-left: none;  
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.GPostImageFiles a.icon-remove, .GPostImageFiles a.icon-star{
    font-size: 23px;
}

.GPostImageFiles a.icon-remove{    
    color: red;

}
.GPostImageFiles .icon-star{
    color: orange;

}
.editable {
    cursor: pointer;
    display: inline-block;
}

.pointer {
    cursor: pointer;
}

.editable:hover {
    color: darkblue;
}

.editable-click, a.editable-click, a.editable-click:hover {
    border-bottom: dashed 1px #ccc !important;
}


.PostFileGroup .playButton{
    float:right;
}

.slick-header *, *:before, *.after {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.GUserProfileField{
    margin-bottom:5px;
}

.GMenu ul
{
    list-style-type: none;
}

.files .GPostImageFiles li a{
    padding:0;
}

.files li a, .files li span {
    margin-right:0;
}

/*Start of site */


html{
    height:100%;
}

.editlink{display:none;}

body{
    min-width:400px;
    font-family: 'Open Sans Condensed', sans-serif;
    color:black;
    background-image: url('/themes/livescores/images/pattern-dy1l.png');
    background-repeat: repeat-repeat;
}

.footerGraphic{
    position: absolute;
    z-index: -1;
    right: 0;
    margin-top: -85px;
}

.form .row{
    margin-left:0px;
}

.MinBlock{
    width:340px;
}

.Loading, .Saving, .GBrowserWarning {
    border: 1px solid #F58A00;
    margin-left:-42px;
}

.Loading, .Saving {
    /*-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;*/
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #f6f6f6 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6');
    /*background-color:#ffffff;
    */-moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border-color: #ddd;
    /*color:#666666;
    */font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding: 24px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;        
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;        
}

.Saving {border-color:#ddd;}


.GFileUploader-uploadinput  { height: 0px; cursor: pointer; position: absolute; top: 0px; right: 0px;   font-size: 100px; z-index: 2; opacity: 0.0; /* Standard: FF gt 1.5, Opera, Safari */ filter: alpha(opacity=0); /* IE lt 8 */ -ms-filter: "alpha(opacity=0)"; /* IE 8 */ -khtml-opacity: 0.0; /* Safari 1.x */ -moz-opacity: 0.0; /* FF lt 1.5, Netscape */ }

.Orange, a:hover{color:darkblue;}


.GHeader{
    width:90%;
    margin: 15px auto 60px 15px;
    clear:both;
}

.GHeader h1{
    /*color:black;*/
}

.GHeader .SiteTitle {
    display:inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-right: 17px;
}

.GHeader .logo{
    display:inline;
    margin-top: 10px;
    margin-right: 10px;
    vertical-align:top;
}

.logospan {
    font-size:45px;
    /*color: #f58a00;*/
    margin-top: -4px;
    display:inline-block;
}

/* Pages */




/* About */
.termsAndConditions.GFolder .folderHeader.sliderClosed{color: green;}
.termsAndConditions.GFolder .folderHeader.sliderOpen{color: orange;}

.termsAndConditions.GFolder{
    margin-top:32px;
}

.termsAndConditions.GFolder .folderHeader{
    margin-right: 2%;
    padding: 5px;
    font-weight: bold;
    font-size:20px;
    display: inline-block;
}

.TermsAndConditions{
    font-size: 13px;
    width: 82%;
    margin: 0 auto;
    height: 300px;
    overflow: auto;
    padding-right:10px;
    margin-bottom: 21px
}

.termsAndConditions .folderBody{overflow:visible !important;}


/* Register */

#FormPage-registration label{
    width: 148px;
    display: inline-block;
}

#FormPage-registration .form-actions{margin-top: 25px;}

#FormPage-registration .form-actions input{margin-right:20px;}





/* Contact */

#ContactForm_body{width:56%;}



/* Sign In */

.GTag-hRveT{margin-top: 5px;}

.SignIn{text-align:center;margin-top: 25px;}

.SignIn label{
    font-size: 24.5px;
    color:#888;
}


.errorSummary li{list-style-type: none;}

.SignIn .errorSummary li{
    display: inline-block;
    margin: 6px 17px;
    padding: 8px;
}

.SignIn .Block{margin: 6px;}

.SignIn .Block .form-control{text-align: center;}

.SignIn .btn{
    width: 216px;
    font-size: 20px;
}

.GFormWidget-ilkhS button.btn, .GFormWidget-ilkhS  input[type="submit"].btn {
margin-bottom: 10px;
}

/* User List */

.ControllerMenu li{display:inline;margin: 0 11px;}


/* Profile */

.GFormWidget-QApwP .required{display:none;}

.profilePic{padding-bottom:41px;}


.Footer{
    text-align: right;
    margin-right: 4%;
    margin-top: 15px;
}


.InspectorLink {
    position:absolute;
    right: 0;
    top: 0;
}

.InspectorLink i{
    float:right;
    text-decoration: none;
    position:relative;
    z-index: 99999999;
    /*background-color: #eee;*/
    padding: 10px;        
    border-bottom: 2px solid #CCC;
    border-left: 2px solid #CCC;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-bottom-left-radius: 25px;
    width: 50px;
    height: 50px;
    margin: 0px;
    right:0px;
    top:0px;
}

.folderHeader:before, .folderHeader.sliderClosed:before, .GFileGroupHeader:before, .GFileGroupHeader.sliderClosed:before {
    content: '+ ';  
}
.folderHeader.sliderOpen:before,  .GFileGroupHeader.sliderOpen:before {
    content: '- ';
}

.folderHeader:hover{cursor: pointer;}

/* Ladning / Dashboard */

.GMessageWidget, .GFriendshipWidget, .GUserWidget{
    margin: 0 10px;
    margin-bottom: 25px;
}

.postCreator{margin-right:20px;}


/* Elements */

button, a, span {font-family: 'Open Sans Condensed', sans-serif !important;}
button:before, a:before, span:before {font-family: 'Glyphicons Halflings' !important;}

.error pre{
    float: left;
    clear: both;
    width: 98%;
    margin-top: 17px;
}

.hint{margin-bottom:25px;}

.hint a{margin:0 2px;}

input[name="GUserLogin[rememberMe]"]{
    display:none;
}

.GFileUploader .inner{   
    padding: 15px 42px;
    max-height:150px;
    overflow-y:auto;
}

.GFileUploader .fileList{
    width:100%;
    max-height: 114px;
    overflow-y:hidden;
}

.GFileUploader .uploaderStatus  .progress-animated{margin-bottom: 15px;border:1px solid #5CB85C;}


.GFileUploader .uploadCancel{margin-left:15px;}

.controls button.btn, .controls a.removeBtn{font-size: 1.3em;}

.postCreator .btn-default {font-size: 1.3em;color: white;}

.postCreator .btn-default:hover {color:white;}


    li.active{top: -10px;}

    li.active .icon-2x{
        font-size: 2.2em;
    }

    .PostDetails .details{
        clear: both;
    }
    
    
    .scoreform td input{
        width:50px;
        margin-right:15px;
        border-bottom: 1px solid #1769AA;
        border-right: 1px solid #2196F3;        
    }
    
    .publicBackground{
        position: fixed;
        top: 0;
        z-index: -2;
    }
    
   
    
    .GActiveDropDown-HtjOg, .GScoreForm-NULQv{        
        margin-right: 25px;
        font-size: 20px;
        font-weight: bold;
    }
    
    .GActiveDropDown-HtjOg{ display:inline-block;}
    
    .GScoreForm-NULQv{font-size:16px;}
    
    .GFormWidget-uDSCj .required{display:none;}
    
    
    .GScoreForm-NULQv table input{
    }
    
    .headerFlags{
        position: fixed;
        top:0;
        z-index: 9999;
    }
    
    .GScoreRankingFlighting, .GScoreRankingTeam {
        color:white;
        font-size: 16px;
        padding-bottom: 100px;
    }
    
    .GScoreRankingFlighting td, .GScoreRankingTeam td{
        padding:0;
        vertical-align: middle;
    }
    
    .GScoreRankingFlighting img, .GScoreRankingTeam img{
        width: 30px;
        margin-right: 15px;
    }
    
    .GScoreRankingFlighting .tab-content h1, .GScoreRankingFlighting .tab-content h2{
        color:white;
        font-size:30px;
        font-weight: bold;
    }
    
    .GScoreRankingFlighting .th1{width:100px;}
    
    .GScoreRankingFlighting .th2{width:10px;}
    .GScoreRankingFlighting .th3{width:100px;}
    .GScoreRankingFlighting .th4{width:100px;}
    

    

    
    
/* Media Queries */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    /* Styles */    
    
    
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
    /* Styles */

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 740px) {
    /* Styles */
    .aboutHeadphonesImage{float: none !important;}
    
    .Debug{display:none;}

    .tabbable{width:98%;clear: both;}
    .GHeader{width:100%;margin-bottom: 25px;}
    .GUserField .label, .GPostView .label{
        display:block;
        text-align: center;
        width: initial;
    }
    .GUserField{clear: both;font-size: 24px;}
    .GUserField a{margin:25px 0;display:block;font-size: 22px;}



    .GFileUploader, .publishExclusiveBtn, .publishBtn, .removeBtn, .uploadBtn{width:100%;margin-bottom:10px}
   
    
    .headphones_image, .headphones_image img{float:none !important;text-align: center;}
    
    .SignIn .btn{
        width: 69%;
        margin-bottom: 15px;
    }
    
}



/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}

/* End of Media Queries */
