/* 
    Document   : old
    Created on : Nov 9, 2012, 12:55:26 AM
    Author     : ali
    Description:
        Purpose of the stylesheet follows.
*/

* {
    margin:0;
    padding:0;
    font-family: Arial, Verdana, Helvetica, sans-serif !important;
    /*text-transform: lowercase;*/
    text-decoration: none;
    font-size:small;
}

/* Common HTML Font Tags
----------------------------------------------------------------------------------------------------*/
h1 {
    font-size:24px;
    color:#515151;
    font-weight:normal;
    margin-bottom:15px;
    
}

h1 * {
    font-size:24px;
}

h3{	
    padding:0px;
    font-size:13px;
    color:#7c7c7c;
    font-weight:bold;
}

hr {
    /*clear: none;*/
    margin: 15px 25px;
    width: auto;
}

.textCenter{
    text-align: center;
}

.menu_heading{
    margin-bottom:5px;
}
.bold{
    font-weight:bold;
}

.green{
    color:#ff7f23;
}

.active{

}

.floatRight{
    float:right;
}

.floatLeft{
    float:left;
}

.clear {
    clear:both;
}

.pad1 {
    padding:15px;
}

.padTop1 {
    padding-top: 15px;
}

#notifications {
    margin:0px;
    padding:0px;
}

.hlist li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
} 

.notifications a{
    text-decoration: none;
}

#static p{
    margin-bottom: 1.5em;

}

.text_normal, .text_normal * {
    text-transform: none;
}


* a {
    color:#7c7c7c;
    text-decoration: none;
}

* a:hover {
    color: #ff7f23;
}

* a:active {
    color: #68d800;
}

.absolute{
    position:absolute;
}


/* Left Side
----------------------------------------------------------------------------------------------------*/

#profile_area, #profile_area img {
    border: none;
    margin: 0;
    width:160px;
    height:160px;
}

#profile_area {
    margin-bottom:20px;
    text-align: center;
}

.mini_box li{
    height:16px;
    overflow:hidden;
}

.videos{
    text-align:center;
}

.videos iframe{
    margin-bottom:20px;
}

.videoBox {
    float: left;
    height: 102px;
    margin: 9px;
    overflow: hidden;
    text-align: left;
}

.videoBox:hover {
    background-color:#eee;
}

.videoBox a{
    color: #7C7C7C;
}

.videoBox img{
    float:left;
    width:125px;
    height:100px;
    border: 1px solid #555555;
}

.videoBox strong{
     color: #555555;
    display: block;
    font-size: 12px;
    height: 40px;
    overflow: hidden;
    width: 100px;
}

.videoBox span {
    border: 1px solid #CCCCCC;
    display: inline-block;
    height: 100px;
    overflow: auto;
    overflow-x: hidden;
    padding-left: 10px;
    padding-right: 5px;
    width: 209px;
}

/* Notifications Area
----------------------------------------------------------------------------------------------------*/
#level_location em{
    color:#000;
}

#level_location em a{
    color:#b0b0b0;
    font-size:10px;
    font-style: normal;
}

.inverse {
    background-color: orange;
    color: #FFF;
}



.notification, .notificationNew {
    display:inline-block;
    padding: 5px;
    width: 125px;
    margin: 4px 0 0 9px;
    font-size: 10px;
    text-align: center;
    color: #7C7C7C;
    background-color:#ffca68;
}

.notification:hover{
    background-color:#97d959;
}

.roundBox {
    border-radius:1.5ex;
    -moz-border-radius:1.5ex;
    -webkit-border-radius:1.5ex;
}

.roundTop {
    border-radius: 1.5ex 1.5ex 0 0;
    -moz-border-radius: 1.5ex 1.5ex 0 0;
    -webkit-border-top-left-radius:1.5ex;
    -webkit-border-top-right-radius:1.5ex;
}

.roundNoTopLeft {
    border-radius: 0 1.5ex 1.5ex 1.5ex;
    -moz-border-radius: 0 1.5ex 1.5ex 1.5ex;
    -webkit-border-top-right-radius:1.5ex;
    -webkit-border-bottom-right-radius:1.5ex;
    -webkit-border-bottom-right-radius:1.5ex;
}

.notificationNew {
    background-color: orange;
    color: #FFF;
}

.notificationNew:hover{
    background-color:#68d800;
}

.sidebar {
    padding: 5px;
}

/* Music Content
------------------------------*/
.trackHeader {
    margin-right:7px;
    vertical-align: top;
}

#center{
    padding-left: 20px;
}

/* Forms
----------------------------------------------------------------------------------------------------*/

#DisplayForm {
    margin-bottom:10px;
}

#searchbox {
    padding:2px 0;
    width: 130px;
}

#search-form .mini_box{
    padding-left:0px;
}

#search-form input[type=submit], #search-form #postSearch{
    margin: 6px 0px 5px 0px;
}

#search-form input[type=submit]{
    padding: 0 5px;
}

#search-form #postSearch{
    padding-left: 7px;
    width: 126px;
}

input[type=submit]{
    padding:0 5px;
    color: #ff7f23;
    background-color: #eee;
}

input {
    color: #b0b0b0;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    text-transform:none;
}


.postList input{
    border: 1px dashed #D9D9D9;
    margin: 0;
    padding: 2px 4px;
    width: 112px;
}

.editBox {
    border: 1px dashed #D9D9D9;
    padding: 0 5px 3px 5px;
}

.mini_box ul{
    padding-left:0px;
    margin-bottom:0px;
    list-style-type: none;
}

input[type=checkbox]{
    padding: 0;
    margin: 0;
    height: 16px;
    width: 29px;
    left: 0;
}

input + label{
    padding-top: 5px;
    padding-left: 13px;
    background-image: url(images/activeBullet.gif);
    background-repeat: no-repeat;
    background-position: 0 7px;
}

input[type=checkbox]:checked + label{
    background-position: 0 -13px;
}

#search-form{
    width:132px;
}

#middle_main {
    padding-left:20px;
}

#breadcrumbs{
    margin: 5px 0 10px 0;
}


#sidebar_right {
    margin:0 10px 0 0;
}


.content_output table{
    margin-bottom:40px;
}

.content_output table tr td{
    padding:0 0 2px 0;
}

#pageination{
    text-align:right;
    color:#7c7c7c;
    margin-top:15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #b0b0b0;
}

.mini_box{
    color:#7c7c7c;
    list-style: none;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    /*border-top-style: solid;*/
    border-bottom-style: solid;
    border-right-color: #b0b0b0;
    border-bottom-color: #b0b0b0;
    border-left-color: #b0b0b0;
    padding:0px 0px 5px 7px;
}

.right_ad {
    width:160px;
    height:160px;
    background-color:#999;
    margin-left:5px;
    margin-bottom:20px;
    position:relative;
}

.right_ad:last-child {
    margin-bottom:0px;
}

#footerlinks li {
    border-left: solid;
    border-left-width: thin;
    border-left-color: white;
    padding: 4px;
    margin: 80px 100px 0px 0px;
    text-align: left;
}

#footerlinks {
    margin-left: 80px;
}

#footerlinks li p {
    margin-bottom:-2px;
    margin-top:-4px;
}

#footerlinks li p a{
    color:#FFF;
    font-size:small;
}

.span-4 {
    margin: -25px 0 0 5px;
}

.span-15 {
    margin-top: -25px;
    margin-left: 5px;
}

#notifications {
    margin-top:5px;
}

.page {
    margin-top:10px;
    padding-left: 10px;
    text-align: left;
}

.thumbnail {
    width: 125px;
    height: 125px;
}
.thumbnailContainer, .thumbnail img {
    border: none;
    margin: 0;
    width:125px;
    height:125px;
}

td {
    padding: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 0px;
    border: none;
    text-align: left;
    vertical-align:top;
    height: 10px;
}

tr {
    height:10px;
}

.postTitle div  {
    border: 2px solid orange;
    display: inline-block;
    margin-bottom: -3px;
    margin-top: -4px;
    padding: 1px 5px;
}

.edit {
    color: #68d800;
}

.postList {
    list-style: none;
    padding-left: 0px;
}

.postContent  {
    background: none repeat scroll 0 0 #FEFEFE;
    border: 2px solid orange;
    margin-top: -2px;
    padding: 5px;
}

.postImage  {
    margin: 0px 5px 5px 0px;
}

.images {
    text-align: center;
}

.posts {
    min-height: 200px;
}

.postContainer{
    padding: 0 10px 10px 10px;
}

.postContainer .postHeader, .postContainer .producer, .postContainer .audio{
    padding: 3px 0;
}

.postContainer .images .imageThumb{
    display: inline-block;
    padding-right: 15px;
    margin-bottom: 7px;
}

.postContainer .images .imageThumb .editBox {
    width: 125px;
    height: 20px;
    overflow:hidden;
}

.postContainer .images .imageThumb .imageButtons {
    border-color: #D9D9D9;
    border-style: dashed dashed none;
    border-width: 1px 1px medium;
    display: block;
    float: right;
    height: 70px;
    padding-left: 2px;
    padding-top: 2px;
    position: relative;
    width: 16px;
}

.imageButtons a{
    display:block;
}

.postContainer .images .imageThumb .download, .postContainer .images .imageThumb .delete, .postContainer .images .imageThumb .titleImageAdd{
    position: absolute;
}

.postContainer .images .imageThumb .titleImageAdd{
    margin-top: 28px;

}

.postContainer .images .imageThumb .download{
    margin-top: 55px;

}


.postContainer .producer{
    margin-left: 4px;
}

#Post_weight{
    float:right;
    margin-right: 12px;
}

.trackInfo {
    background: #f3f3f4;
    border: 1px solid orange;
    padding: 10px;
    margin: 5px 0px 5px 7px;
    width: 342px;
}

.trackInfo input{
    margin:3px 4px 0 4px;
    width: 291px;
    border-style: solid;
    padding: 0px 1px;
}

.trackInfo label{
    display:inline-block;
    width: 39px;
}

.trackInfo .trackInfoCommentHeader{
    margin-top:12px;
}

.trackInfo textarea{
    width: 333px;
    padding: 2px;
}

.trackInfo .updateButton{
    width: 44px;
}

/*forms*/
div.form
{
}

div.form input,
div.form textarea,
div.form select
{
    margin: 0.2em 0 0.5em 0;
}

div.form fieldset
{
    border: 1px solid #DDD;
    padding: 10px;
    margin: 0 0 10px 0;
    -moz-border-radius:7px;
}

div.form label
{
    font-weight: bold;
    font-size: 0.9em;
    display: block;
}

div.form .row
{
    margin: 5px 0;
}

div.form .hint
{
    margin: 0;
    padding: 0;
    color: #999;
}

div.form .note
{
    font-style: italic;
}

div.form span.required
{
    color: red;
}

div.form div.error label,
div.form label.error,
div.form span.error
{
    color: #C00;
}

div.form div.error input,
div.form div.error textarea,
div.form div.error select,
div.form input.error,
div.form textarea.error,
div.form select.error
{
    background: #FEE;
    border-color: #C00;
}

div.form div.success input,
div.form div.success textarea,
div.form div.success select,
div.form input.success,
div.form textarea.success,
div.form select.success
{
    background: #E6EFC2;
    border-color: #C6D880;
}


div.form .errorSummary
{
    border: 2px solid #C00;
    padding: 7px 7px 12px 7px;
    margin: 0 0 20px 0;
    background: #FEE;
    font-size: 0.9em;
}

div.form .errorMessage
{
    color: red;
    font-size: 0.9em;
}

div.form .errorSummary p
{
    margin: 0;
    padding: 5px;
}

div.form .errorSummary ul
{
    margin: 0;
    padding: 0 0 0 20px;
}

div.wide.form label
{
    float: left;
    margin-right: 10px;
    position: relative;
    text-align: right;
    width: 100px;
}

div.wide.form .row
{
    clear: left;
}

div.wide.form .buttons, div.wide.form .hint, div.wide.form .errorMessage
{
    clear: left;
    padding-left: 110px;
}

.contactCaptacha{
    vertical-align:top;
    margin-top:12px !important;
    padding: 3px 0;
}

.top_links {
    color:#7C7C7C;
    list-style: none;
    /*border-top-style: solid;*/
    padding: 0;
    margin:0;
}

#right {
    margin-left: 930px;
    margin-top: 8px;
    background: #fff;
    width: 20px;
    max-height: 650px;
    overflow: hidden;
    opacity:0.95;
    filter:alpha(opacity=95); /* For IE8 and earlier */
    height:600px;
}

.rightButtons {
    position:absolute;
}

.rightButton {
    width:20px;
    height:100px;
    position:relative;
    background-color: #cccccc;
    padding-top: 30px;
}

.rightButton span{
    cursor: pointer;
    display: block;
    color: #7C7C7C;
    width: 71px;
    margin-top: 10px;
    padding-left: -25px;
    margin-left: -25px;    
    font-size: 13px;
    font-weight: bold;
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.rightContent {
    height: 620px;
    margin-left:40px;
    display: none;
}

.top_links .album{
    position: relative;
    top:3px;
}

.top_links li{
    float:left;
    width: 760px;
    margin: 5px 0;
    background-color: #EBEBEB;
    border: 1px solid #CCC;
}

.top_links li:first-child{
    margin-top:0;
}

.top_links img{
    float:left;
    width: 50px;
    height: 50px;
}

.top_links .topText .first{
    font-size:28px;
}


.top_links .topText{
    /*float:right;*/
    width: 750px;
    margin-left: 10px;
    /*margin-left: 7px;
    font-size: 9px;   
    height: 75px;
    overflow: hidden;*/
}

.qq-upload-spinner {display:inline-block; background: url("images/loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}


body{
    background-color:#F9F9F9;
}

/* Icon Sprites */

/* Custom bullet for list .active styling */

.jp-playlist-player {
    /*isplay: none;*/
}

div.jp-type-playlist div.jp-playlist li.active {
    padding-top: 5px;
    background-image: url(images/activeBullet.gif);
    background-repeat:no-repeat;
    background-position: 7px 7px;
}


/* Pagination Styling */



.list-view .pager .yiiPager a:link, ul.yiiPager a:visited {
    border-color:#ffb37c;
    color: #ff7f23;
}

.list-view .pager .yiiPager .selected a {
    background-color:#ccc;
    color:#FFFFFF;
}

ul.yiiPager .next {
    padding-left:10px;
}

.hidden{
    display: none;
}

.postInfoBack {
    margin-top:-50px;
    height:50px;
    background-color:#fff;
    position:absolute;
    -moz-opacity:0.75;
    opacity: 0.75;
    filter:alpha(opacity=75);
    width: 160px;
}

.postInfoContainer {
    margin-top:-50px;
    overflow: hidden; /*wrap float*/
    position:absolute;
}

.postInfo {
    width: 45px;
    text-align: center;
    padding: 0 4px;
    display: -moz-inline-stack;
    display: inline-block;
}


.shadow {

    text-shadow: 2px 1px 2px gray;
}

.pageBottom {
    width:300px;
    margin:0px auto;
    padding: 5px 0;
    border: 3px solid orange;
    background-color: #fff;
    z-index: 1203;
    text-align:center;
    position: fixed;
    width: 600px;
    bottom:0px;
    left: 50%;
    margin-left: -300px;
    border-bottom:none;
}

.elementEdit {
    z-index: 800;
}

.pageBottom[target="#uploader"] h3 {
    cursor: pointer !important;
    margin:0;
    margin-top: 3px;
    margin-bottom: 7px;
}

.pageBottom[target="#uploader"] h3:hover {
    color:#ff7f23;
}

.pageBottom[target="#uploader"] h3:active {
    color:#68d800;
}

.pageBottom .uparrow, .pageBottom .downarrow{
    float:right;
    margin-right:10px;
}

#uploader {
    list-style: none;
    max-height: 108px;
}


.top_links .addToPlaylist{
    margin-left: 12px;
}


.portlet{

}

.portlet-decoration{
	
}

.portlet-title{
    padding: 0px 0px 5px 7px;
    margin: 0;
    font-size: 12px;
    font-weight: bold;        
    color:#7C7C7C;
    border-bottom: solid 1px #B0B0B0;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0;
	padding: 5px 8px;
	margin-bottom:15px;
	background:orange;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

.portlet-content li
{
	
}


/* User Menu */

#userMenuContent ul{
    list-style:none;
}

 .menucontent li .parent{
    font-size: 13px;
    color: #7C7C7C;
    font-weight: bold;
    cursor:pointer;
}

div.form .tooltip { display: none; background-color:#EFFDFF; border:1px solid #79B4DC; padding: 10px; width: 300px; }

#usermenu {float:right; width:25%; margin: 0px 5px 0px 5px;}
#usermenu span {text-align: center;background-color: #EEEEEE; color: black; padding:3px; margin:5px; width: 300px;}
#usermenu a {color: gray; padding:3px; text-decoration: none;}
#usermenu a:hover {color: black; text-decoration:underline;}

#usermenu .active {font-weight: bold; margin: 9px; text-decoration: underline; }

.menucontent {}
.menucontent ul {margin: 5px 0px 0px 9px; padding: 3px; list-style-type:none;cursor:pointer;}
.menucontent li {margin: 5px 0px 0px 9px; list-style-type:none;}

.avatar {float:left; margin-right: 5px;}
#usercontent {padding: 20px; width:70%; margin: 5px;}
label { display: inline }
.listbox { display: inline; } 
.roles {float: right; }
.membership { float: left;margin: 5px; }
.info {background-color: lightgray; padding: 10px; margin:10px; border: 1px dotted black;}
.new_messages td { border-bottom: 1px solid;} 
.tooltip { display: none; padding: 5px; margin: 5px; background-color: #ffa;border: 1px solid #cc9; border-radius: 5px;}
.view_user {float:left; margin:5px;}
.profile_field_selection { float: right; margin: 5px;}
.table_profile_fields { width: 50%; }
.profilefieldlabel { float: left; margin-right: 5px; width: 100px;}
.friend { margin: 5px; } 

#users {float: left; width: 300px;margin: 5px 20px;}
#roles {float: left; width: 300px;margin: 5px;}
#profiles {float: left; width: 300px;margin: 5px 20px;}
#messages {float: left; width: 300px;margin: 5px 20px;}
             
/* Code overrides */

.call{
position:absolute;
width:0px;
height:0px;
}

.menucontent ul li ul {
    display:none;
}


/* Help */

.help *{
    margin:0;
    padding:0;
}

.help {
    float:left;
}

.help div{
    margin-left:10px;
}

.help h1{
    margin-bottom:20px;
}

.help h2, .help h3, .help p{
    margin-bottom:14px;
}

.help span{
    display:inline-block;
    vertical-align: bottom;
    padding:5px;
}

.help .contentPublic:hover, .help .contentPrivate:hover, .help .contentRestrict:hover{
    border:2px solid #fff;
    border-top:none;
}

.ui-sortable, #postOrderList{
    cursor: pointer;
}
