#php_value date.timezone Africa/Johannesburg
#php_value magic_quotes_gpc 0 
#php_value magic_quotes_runtime 0
RewriteEngine on
# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php

AddDefaultCharset UTF-8