* {
	margin:0;
	padding:0;
}

html, body, #content{
	height:100%;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

body{
    width: 100%;
	min-width: 586px;
	color: #7C7C7C;
	background-color: #ff7e22;
}


#header{
	min-width: 586px;
	max-width: 100%;
	height: 114px;
}

#header img, #footer img{
	float:left;

}

#header #logo{
}

#topRepeat{
	position: absolute;
	z-index: -2;
	width: 100%;
	min-width: 568px;
	height: 114px;	
}

#header #topRight, #footer #botRight{
	float: right;
}

#contentLeft{
	width:67px;
}

#contentLeft img{
	width:67px;
	min-height:69px;
	height:100%;
}

#contentRight{
	width:79px;
}

#contentRight img{
	width:79px;
	min-height:69px;
	height:100%;
}

#contentTable{
	display:table;
}

#content{
	display:table-row;
	background-color: #fff;
}

.height100{
	height: 100%;
	display: table-cell;	
	vertical-align: top;
}

#mainContent{
	padding-bottom: 25px;
}

#botRepeat{
	position: absolute;
	z-index: -2;
	width: 100%;
	min-width: 568px;
	height: 50px;	
}

#footer{
	margin-bottom:100px;
}

#footerNav{
	position: fixed;
	bottom:0;
	border-top:#ccc solid 1px;
	width:100%;
	height:75px;
	background-color: #333;
}