body {
	margin: 0;
}

.hidden {
	display: none;
}

.jp-video-full {
	width: 100%;
	height: auto;
}

.jp-jplayer, .jp-jplayer img {
	height: auto !important;
}

div.fullscreen {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 115%;
	height: 100%;
	text-align: center;
	background-color: #000;
	filter: alpha(opacity = 15);
	-moz-opacity: 0.15;
	-khtml-opacity: 0.15;
	opacity: 0.15;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
	z-index: 8080;
}

.Loading, .Saving, .GBrowserWarning {
	display: none;
	z-index: 9999;
	text-align: center;
	position: fixed;
	background-color: #fff;
	padding: 10px 30px;
	top: 200px;
	left: 50%;
	margin-left: -150px;
	border: 3px solid green;
	border-radius: 15px;
}

.Loading h3, .Saving h3 {
	font-size: 16px;
	margin: 0px;
}

.GBrowserWarning .closeLink {
	position: absolute;
	right: 30px;
	top: 22px;
	background-color: #EEE;
	padding: 5px;
	height: 20px;
	margin: 0;
}

.GBrowserWarning {
	width: 861px;
	padding: 25px 0;
	margin-left: -431px;
	top: 50%;
	margin-top: -192px;
}

.GBrowserWarning p {
	margin: 0 58px;
}

.GBrowserWarning .broswerDiv {
	margin: 55px 0;
	height: 146px;
}

.GBrowserWarning .well {
	display: inline-block;
	text-align: center;
	height: 145px;
	float: left;
	margin: 0 33px;
}

.GBrowserWarning .well a {
	display: block;
	height: 125px;
}

.GInlineEditable button {
	margin-left: 5px;
}

div.glass {
	display: block !important;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	-khtml-opacity: 0.0;
	opacity: 0.0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	z-index: 1000 !important;
}

.Debug {
	position: fixed;
	top: 9px;
	z-index: 9999;
	right: 13px;
}

.Inline {
	display: inline-block;
	padding: 0 5px;
}

.inline .GUserProfileField div {
	display: inline-block;
}

a {
	cursor: pointer;
}

.animate {
	transition: height 2s;
	-webkit-transition: height 2s; /* Safari */
}

.reset {
	margin: 0 !important;
	padding: 0 !important;
	list-style: none !important;
}

.container.modal.fade.in {
	position: absolute;
	top: auto;
	left: auto;
	width: 80%;
	margin: 0 0 0 0;
	overflow: visible;
}

.editing, .sorting>.Widget {
	border: 1px dotted grey;
	cursor: pointer;
}

.editing:hover, .sorting:hover>.Widget {
	cursor: pointer;
	border: 1px solid green;
}

/* GFileGroup */
.GFileGroup {
	min-height: 15px;
}

.GFileGroupHeader, .folderHeader {
	line-height: 16px;
	margin-bottom: 12px;
}

/* GFileUploader */
.GFileUploader {
	position: fixed;
	bottom: 32px;
	right: 25px;
	text-align: center;
}

.GFileUploader .inner {
	display: inline-block;
	background: white;
	border: 1px solid #DDD;
	border-color: #CCC #DDD #AAA #CCC;
	background-color: #FBFBFB;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-box-shadow: 8px 28px 10px -22px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 8px 28px 10px -22px rgba(0, 0, 0, 0.24);
	box-shadow: 8px 28px 10px -22px rgba(0, 0, 0, 0.24);
}

.GContent .GFileGroup img {
	margin-bottom: 0;
	padding: 11px;
}

.progress_bar_wrapper.progress-animated {
	max-height: 145px;
	overflow: auto;
}

.GFileUploader .progress_context {
	clear: both;
}

.GFileUploader .upload_file_name {
	margin: 0 15px;
}

.GFileUploader .progress-bar div {
	background-color: grey;
}

.GContent .GFileGroup img {
	margin-bottom: 0;
	padding: 11px;
}

input.error {
	border: 1px solid red;
}

.editlink {
	/*z-index:10000100;
    */
	font-size: 20px;
	color: #fff;
	width: 21px;
	height: 21px;
	background: #42B3E5;
	display: inline-block;
	transition-delay: 100ms;
	-webkit-transition-delay: 100ms;
	-webkit-transition: background-color 200ms ease-in-out, z-index 200ms
		ease-in-out;
	transition: background-color 200ms ease-in-out, z-index 200ms
		ease-in-out;
	overflow: hidden;
	-moz-opacity: 0.30;
	opacity: 0.30;
	position: relative;
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=30);
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.editlink:hover {
	overflow: visible;
	-moz-opacity: 1;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}

.editlink:hover .editlinkinner {
	z-index: 10000100;
}

.editlink .editlinkinner {
	background: #42B3E5;
	position: absolute;
	display: block;
	text-align: left;
}

.errorlink {
	z-index: 10000100;
	font-size: 20px;
	color: #fff;
	width: 21px;
	height: 21px;
	background: #E5B342;
	display: inline-block;
	transition-delay: 100ms;
	-webkit-transition-delay: 100ms;
	-webkit-transition: background-color 200ms ease-in-out, z-index 200ms
		ease-in-out;
	transition: background-color 200ms ease-in-out, z-index 200ms
		ease-in-out;
	overflow: hidden;
	-moz-opacity: 0.30;
	opacity: 0.30;
	position: relative;
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=30);
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.errorlink:hover {
	overflow: visible;
	-moz-opacity: 1;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}

.errorlink:hover .errorlinkinner {
	z-index: 10000100;
}

.errorlink .errorlinkinner {
	background: #E5B342;
	position: absolute;
	display: block;
}

.editable {
	cursor: pointer;
	display: inline-block;
}

.pointer {
	cursor: pointer;
}

.editable:hover {
	color: orange;
}

.editable-click, a.editable-click, a.editable-click:hover {
	border-bottom: dashed 1px #ccc !important;
}

.errorMessage {
	color: #EB3131;
}

/* User Widgets */
.label {
	
}

/* File Uploader */
.qq-upload-button {
	font-weight: bold;
}

.qq-upload-button-hover {
	
}

.qq-upload-list {
	list-style: none;
}

.qq-progress-bar {
	display: none;
	height: 10px;
	background-color: lightBlue;
	margin-bottom: 4px;
}

.qq-upload-list li {
	margin: 5px 0;
}

.qq-upload-list span, .qq-upload-list a {
	margin-right: 7px;
}

.qq-upload-success {
	background-color: lightGreen;
	border-radius: 5px;
	padding: 0 8px;
	opacity: 0.7;
}

.qq-upload-spinner {
	width: 10px;
	height: 10px;
	background-color: lightBlue;
	margin-right: 7px;
}

/* Widget Console Styling */
.widgetForm #Widget_content {
	min-width: 98%;
	min-height: 130px;
	margin: 13px 0 14px 11px;
	margin-bottom: 14px;
	margin-top: 13px;
	margin-left: 11px;
}
/* CMS Menu */
.items .view {
	margin-bottom: 15px;
}

.widgetEdit {
	margin-top: 20px;
	margin-bottom: 22px;
	padding-top: 10px;
	padding-bottom: 32px;
	border-top: 1px dashed #CCC;
	border-bottom: 1px dashed #CCC;
}

.FieldInspector .Submit {
	border-radius: 0;
	margin: 0;
	position: relative;
	top: -1px;
	border: 1px solid #bbb;
	border-top: none;
	border-right-color: #ccc;
	color: #666;
	padding: 6px;
	float: right;
	display: inline-block;
	background-color: white;
	font-size: 12px;
}

a.Block {
	background-color: #EEE;
	display: block;
	margin: 0;
	padding: 6px;
}

.files li a, .files li span {
	margin-right: 5px;
}

.files li a {
	padding: 10px;
	display: inline-block;
}


/* For Bottom Admin menu */
.jsonEditor a {
	margin-right: 5px;
}


.jsoneditor-contextmenu {
	z-index: 1100;
}

.jsoneditor a {
	margin: 0 20px;
}

.jsoneditor div.tree table.tree{
	background-color: white;
}